/* This CSS file just define some default styles and loaders */
/* You don't need to include it if you're working with your custom overlay loader element */
.gpg_redirect_title {
	margin-bottom: 30px;
	text-align: center;
}
#gpg-payment-form {
	height: 0px;
}