<?xml version="1.0"?>
<config>
    <modules>
        <Utiks_GpgCheckout>
            <version>0.1.1</version>
        </Utiks_GpgCheckout>
    </modules>
    <global>
        <models>
            <utiks_gpgcheckout>
                <class>Utiks_GpgCheckout_Model</class>
                <resourceModel>utiks_gpgcheckout_resource</resourceModel>
            </utiks_gpgcheckout>
            <utiks_gpgcheckout_resource>
                <class>Utiks_GpgCheckout_Model_Resource</class>
            </utiks_gpgcheckout_resource>
        </models>
        <blocks>
            <utiks_gpgcheckout>
                <class>Utiks_GpgCheckout_Block</class>
            </utiks_gpgcheckout>
        </blocks>
        <helpers>
            <utiks_gpgcheckout>
                <class>Utiks_GpgCheckout_Helper</class>
            </utiks_gpgcheckout>
        </helpers>
    </global>
    <frontend>
        <routers>
            <gpgcheckout>
                <use>standard</use>
                <args>
                    <frontName>gpgcheckout</frontName>
                    <module>Utiks_GpgCheckout</module>
                </args>
            </gpgcheckout>
        </routers>
        <layout>
            <updates>
                <utiks_gpgcheckout>
                    <file>gpgcheckout.xml</file>
                </utiks_gpgcheckout>
            </updates>
        </layout>
        <translate>
            <modules>
                <Utiks_GpgCheckout>
                    <files>
                        <default>Utiks_GpgCheckout.csv</default>
                    </files>
                </Utiks_GpgCheckout>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Utiks_GpgCheckout>
                    <files>
                        <default>Utiks_GpgCheckout.csv</default>
                    </files>
                </Utiks_GpgCheckout>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <gpgcheckout>
                <model>utiks_gpgcheckout/paymentMethod</model>
                <payment_action>authorize</payment_action>
                <title>GPG Checkout Payment</title>
                <order_status>processing</order_status>
                <default_currency>TND</default_currency>
                <mode>test</mode>
                <submit_url_test><![CDATA[https://preprod.gpgcheckout.com/Paiement_test/Validation_paiement.php]]></submit_url_test>
                <submit_url_production><![CDATA[https://www.gpgcheckout.com/Paiement/Validation_paiement.php]]></submit_url_production>
            </gpgcheckout>
        </payment>
    </default>
</config>