<?xml version="1.0"?>
<config>
    <modules>
        <Utiks_GpgCheckout>
            <version>0.1.0</version>
        </Utiks_GpgCheckout>
    </modules>
    <global>
        <models>
            <utiks_gpgcheckout>
                <class>Utiks_GpgCheckout_Model</class>
                <resourceModel>utiks_gpgcheckout_resource</resourceModel>
            </utiks_gpgcheckout>
            <utiks_gpgcheckout_resource>
                <class>Utiks_GpgCheckout_Model_Resource</class>
            </utiks_gpgcheckout_resource>
        </models>
        <blocks>
            <utiks_gpgcheckout>
                <class>Utiks_GpgCheckout_Block</class>
            </utiks_gpgcheckout>
        </blocks>
        <helpers>
            <utiks_gpgcheckout>
                <class>Utiks_GpgCheckout_Helper</class>
            </utiks_gpgcheckout>
        </helpers>
    </global>
    <default>
        <payment>
            <gpgcheckout>
                <model>utiks_gpgcheckout/paymentMethod</model>
                <active>1</active>
                <order_status>pending</order_status>
                <title>GPG Checkout payment</title>
                <payment_action>authorize</payment_action>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
            </gpgcheckout>
        </payment>
    </default>
    <frontend>
        <routers>
            <gpgcheckout>
                <use>standard</use>
                <args>
                    <frontName>gpgcheckout</frontName>
                    <module>Utiks_GpgCheckout</module>
                </args>
            </gpgcheckout>
        </routers>
        <layout>
            <updates>
                <utiks_gpgcheckout>
                    <file>gpgcheckout.xml</file>
                </utiks_gpgcheckout>
            </updates>
        </layout>
    </frontend>
</config>