<?xml version="1.0"?>
<config>
    <sections>
        <payment>
            <groups>
                <mycheckout translate="label" module="utiks_gpgcheckout">
                    <label>GPGCheckout Payemnt Method</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                        </active>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                        </title>
                        <order_status translate="label">
                            <label>New Order Status</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_order_status</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                        </order_status>
                        <submit_url>
                            <label>Gateway URL</label>
                            <comment>communiqué par GPG</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>utiks_gpgcheckout/system_config_source_gatewayUrls</source_model>
                            <sort_order>58</sort_order>
                            <show_in_default>1</show_in_default>
                            <validate>required-entry</validate>
                        </submit_url>
                        <num_site>
                            <label>NumSite</label>
                            <comment>communiqué par GPG</comment>
                            <frontend_type>password</frontend_type>
                            <sort_order>56</sort_order>
                            <show_in_default>1</show_in_default>
                            <validate>required-entry</validate>
                        </num_site>
                        <gpg_password>
                            <label>Password</label>
                            <comment>Mot de passe du site communiqué par GPG</comment>
                            <frontend_type>password</frontend_type>
                            <sort_order>57</sort_order>
                            <show_in_default>1</show_in_default>
                            <validate>required-entry</validate>
                        </gpg_password>
                        <vad_number>
                            <label>Vad</label>
                            <comment>Code VAD communiqué par GPG</comment>
                            <frontend_type>password</frontend_type>
                            <sort_order>58</sort_order>
                            <show_in_default>1</show_in_default>
                            <validate>required-entry</validate>
                        </vad_number>
                        <default_currency translate="label">
                            <label>Device par default</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_currency</source_model>
                            <sort_order>59</sort_order>
                            <show_in_default>1</show_in_default>
                        </default_currency>
                        <terminal translate="label">
                            <label>Terminal</label>
                            <comment>Identifiant terminal communiqué par GPG</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                        </terminal>
                        <logs translate="label">
                            <label>Activer les logs</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>61</sort_order>
                            <show_in_default>1</show_in_default>
                        </logs>
                        <payment_type translate="label">
                            <label>Payment type</label>
                            <frontend_type>select</frontend_type>
                            <source_model>utiks_gpgcheckout/system_config_source_paymentType</source_model>
                            <sort_order>62</sort_order>
                            <show_in_default>1</show_in_default>
                        </payment_type>
                        <reccu_num translate="label">
                            <label>Le nombre de récurrence à utiliser</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>63</sort_order>
                            <source_model>utiks_gpgcheckout/system_config_source_ReccuNumber</source_model>
                            <show_in_default>1</show_in_default>
                            <depends>
                                <payment_type separator="|">
                                    <value>2|6</value>
                                </payment_type>
                            </depends>
                        </reccu_num>
                        <reccu_frecuency translate="label">
                            <label>Reccu_Frecuency</label>
                            <comment>Le délai de récurrence à utiliser chaque X fois en jours Fréquence en jours pour
                                les transactions récurrentes et récurrentes différées (obligatoire pour les
                                récurrentes)Exp : 30 (jour)
                            </comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>64</sort_order>
                            <show_in_default>1</show_in_default>
                            <validate>required-entry</validate>
                            <depends>
                                <payment_type>
                                    <value>2</value>
                                </payment_type>
                            </depends>
                        </reccu_frecuency>
                        <reccu_expiryDate translate="label">
                            <label>Reccu_ExpiryDate</label>
                            <comment>Date Limite sous le format aaaa-MM-jj date limite pour transactions Récurrentes
                            </comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>64</sort_order>
                            <show_in_default>1</show_in_default>
                            <depends>
                                <payment_type separator="|">
                                    <value>2|3</value>
                                </payment_type>
                            </depends>
                        </reccu_expiryDate>
                        <sort_order translate="label">
                            <label>Sort Order</label>
                            <frontend_type>text</frontend_type>
                        </sort_order>
                        <sort_order>100</sort_order>
                        <show_in_default>1</show_in_default>
                    </fields>
                </mycheckout>
            </groups>
        </payment>

    </sections>
</config>